/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#fff;

    /*background-image:-webkit-linear-gradient(top, #373a3d, #313437);*/
    /*background-image:-moz-linear-gradient(top, #373a3d, #313437);*/
    /*background-image:linear-gradient(top, #373a3d, #313437);*/

    width:100%;
    border-radius:3px;
}

#drop{
    background-color: #fff;
    border: 5px dashed #F1F2F7;
    border-radius: 3px;
    /*border-image: url('../img/border-image.png') 25 repeat;*/
    text-align: center;
    text-transform: uppercase;
    margin:5px;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#1FB5AD;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color: #1ca59e;
}
#drop.dragover {
    background: rgba(255, 255, 255, 0.4);
    border-color: #1FB5AD;
}

#drop input{
    display:none;
}
#drop-window {
    position: fixed;
    top: 0;
    left:0;
    z-index: 9999999999;
    height:100%;
    width:100%;
    text-align: center;
    background: #1FB5AD;
    opacity: 0.8;
    display: none;
}
#drop-window h4 {
    font-size:40px;
    color:#FFFFFF;
}
.nav {
    margin-top:20px;
}
#gallery {
    margin:0px auto;
    padding:0px;
    display: inline-block;
}
.loading {
    font-size:30px;
    text-align: center;
}
#gallery li.attachment {
    list-style: none;
    margin:8px;
    width:116px;
    float:left;
}
#gallery li.attachment.selected {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
    -moz-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
    -webkit-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
    -moz-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;-ms-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;-o-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
}

#gallery li.attachment.selected-before {
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;
    -moz-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;
    -webkit-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;
    -moz-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;-ms-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;-o-webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;webkit-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #CCCCCC;
}

#gallery li.attachment .attachment-preview {
    background: #EEEEEE;
    cursor: pointer;
    position: relative;
    width:116px;
    height:116px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}
#gallery .thumbnail-image {
    position: absolute;
    overflow: hidden;
    width: 116px;
    height: 116px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}
#gallery .thumbnail-image:after {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    content:"";
    display: block;
    overflow: hidden;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    position: absolute;
}
#gallery .thumbnail-image .centered {
    transform:translate(50%, 50%);
    height:100%;
    width:100%;
    position: absolute;
}
#gallery .landscape .thumbnail-image .centered img {
    transform:translate(-50%, -50%);
    max-height:116px;
    width:auto;
}
#gallery .portrait .thumbnail-image .centered img {
     transform:translate(-50%, -50%);
     max-width:116px;
     width:auto;
 }
#gallery .check {
    background: #1E8CBE;
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #1E8CBE;
    -moz-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #1E8CBE;
    -webkit-box-shadow:0 0 0 1px #FFFFFF, 0 0 0 2px #1E8CBE;
    right:-6px;
    top:-6px;
    width:24px;
    line-height:24px;
    position: absolute;
    color:#FFFFFF;
    font-size:16px;
    text-align: center;
    display: none;
}

#gallery .selected .check {
    display: block;
}
#gallery .selected-before .check {

    background: #CCCCCC;
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #CCCCCC;
    -moz-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #CCCCCC;
    -webkit-box-shadow:0 0 0 1px #FFFFFF, 0 0 0 2px #CCCCCC;
    display: block;
}
#gallery .attachment .progress {
    width:60%;
    margin:auto;
    margin-top:50px;
}
#manager .thumbnail-preview img {
    max-width:100%;
    max-height:180px;
}
.atachment_details {
    display: none;
}
.noPadding {
    padding:0px!important;
}
.modal-dialog {
    margin:55px auto!important;
}
.modal-content {
    border:1px solid #CCCCCC!important;
}
.modal-dialog {
    width:300px;
}