.showtag {
    padding: 5px 0 0 0;
}
.showtag span {
    margin: 2px 5px;
}
#add_new_category {
    display: none;
}
#choose_tag {
    margin: 5px 15px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #E2E2E4;
    box-shadow: none;
    color: #777777;
    font-size: 14px;
    line-height: 1.42857;
    float: left;
    display: none;
}
.show_hide_item {
    padding: 0 0 5px 0;
}
.choose_tag_db, .show_hide_item {
    color: #0074A2;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 0 5px 15px;

}
.choose_tag_db {
    font-size: 12px;
    float:left;
    padding:0 5px 5px 5px;
}
.choose_tag_db:hover {
    color: #2EA2CC;
}
.listTags {
    padding: 0 15px;
    min-height: 1px;
}
.delete-tag {
    cursor: pointer;
}
#select-tree {
    display: none;
    padding: 15px 0 0 0;
}
#select-tree .control-label {
    text-align: left;
}
.mCSB_scrollTools {
    height: 150px;
    overflow: scroll;
    margin:20px 0;
}
.show-image {
    text-align: center;
}
.border-image {
    margin: 10px;
    border-bottom: 1px solid #000000;
}
.sliderImage {
    list-style: none;
    padding: 0;
}
.delete-slider-image {
    background: #EEEEEE;
    color: #CC0000;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 2px 5px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.deleteImage {
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin: 0 0 20px 0;
    background: none;
}
.image_preview {
    padding: 30px 0 0 0;
}
.image_preview:hover {
    cursor: pointer;
}
.image-content {
    margin: 0;
}
