input.cke_dialog_ui_input_password, input.cke_dialog_ui_input_text, textarea.cke_dialog_ui_input_textarea {
    background-color: #fff;
    outline: 0;
    width: 100%;
    *width: 95%;
    height: 30px;
    padding: 4px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input.cke_dialog_ui_input_password:focus, input.cke_dialog_ui_input_text:focus, textarea.cke_dialog_ui_input_textarea:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.cke_dialog_background_cover {
    z-index:1000!important;
}
.cke_dialog {
    visibility: visible;
    z-index:1030!important;
}

.cke_dialog_body {
    z-index: 1;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px
}

.cke_browser_gecko19 .cke_dialog_body {
    position: relative
}

.cke_dialog strong {
    font-weight: 700
}

.cke_dialog_title {
    font-weight: 700;
    font-size: 13px;
    cursor: move;
    position: relative;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 10px 12px;
    background: #eee
}

.cke_dialog_contents {
    background-color: #fff;
    overflow: auto;
    padding: 15px 10px 5px;
    margin-top: 35px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 4px 4px
}

.cke_dialog_contents_body {
    overflow: auto;
    padding: 17px 10px 5px;
    margin-top: 22px
}

.cke_dialog_footer {
    text-align: right;
    position: relative;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ddd;
    background: #eee
}

.cke_rtl .cke_dialog_footer {
    text-align: left
}

.cke_hc .cke_dialog_footer {
    outline: 0;
    border-top: 1px solid #fff
}

.cke_dialog .cke_resizer {
    margin-top: 28px
}

.cke_dialog .cke_resizer_rtl {
    margin-left: 5px
}

.cke_dialog .cke_resizer_ltr {
    margin-right: 5px
}

.cke_dialog_tabs {
    height: 24px;
    display: inline-block;
    margin: 10px 0 0;
    position: absolute;
    z-index: 2;
    left: 10px
}

.cke_rtl .cke_dialog_tabs {
    right: 10px
}

a.cke_dialog_tab {
    height: 16px;
    padding: 4px 8px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    line-height: 16px;
    outline: 0;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    background: #f3f3f3
}

.cke_rtl a.cke_dialog_tab {
    margin-right: 0;
    margin-left: 3px
}

a.cke_dialog_tab:hover {
    background: #ddd;
    text-decoration: none
}

a.cke_dialog_tab_selected {
    background: #fff;
    color: #333;
    border-bottom-color: #fff;
    cursor: default;
    filter: none
}

a.cke_dialog_tab_selected:hover {
    background: #fff
}

.cke_hc a.cke_dialog_tab:hover, .cke_hc a.cke_dialog_tab_selected {
    border: 3px solid;
    padding: 2px 6px
}

a.cke_dialog_tab_disabled {
    color: #bababa;
    cursor: default
}

.cke_dialog_tabs .cke_dialog_ui_input_select {
    top: -7px !important
}

.cke_single_page .cke_dialog_tabs {
    display: none
}

.cke_single_page .cke_dialog_contents {
    padding-top: 5px;
    margin-top: 0;
    border-top: 0
}

.cke_dialog_close_button {
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
    top: 9px;
    z-index: 5
}

.cke_hidpi .cke_dialog_close_button {
    background-image: url(images/hidpi/close.png);
    background-size: 16px
}

.cke_dialog_close_button span {
    display: none
}

.cke_hc .cke_dialog_close_button span {
    display: inline;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    top: 3px
}

.cke_ltr .cke_dialog_close_button {
    right: 5px
}

.cke_rtl .cke_dialog_close_button {
    left: 6px
}

div.cke_disabled .cke_dialog_ui_labeled_content div * {
    background-color: #ddd;
    cursor: default
}

.cke_dialog_ui_hbox table, .cke_dialog_ui_vbox table {
    margin: auto
}

.cke_dialog_ui_vbox {
    margin-top: 5px
}

.cke_dialog_ui_vbox_child {
    padding: 5px 0
}

.cke_dialog_ui_hbox {
    width: 100%
}

.cke_dialog_ui_hbox_child, .cke_dialog_ui_hbox_first, .cke_dialog_ui_hbox_last {
    vertical-align: top
}

.cke_dialog_ui_hbox_first > .cke_dialog_ui_html, .cke_dialog_ui_hbox_first > .cke_dialog_ui_labeled_label, .cke_dialog_ui_hbox_last > .cke_dialog_ui_html, .cke_dialog_ui_hbox_last > .cke_dialog_ui_labeled_label {
    line-height: 30px
}

.cke_ltr .cke_dialog_ui_hbox_child, .cke_ltr .cke_dialog_ui_hbox_first {
    padding-right: 10px
}

.cke_rtl .cke_dialog_ui_hbox_child, .cke_rtl .cke_dialog_ui_hbox_first {
    padding-left: 10px
}

.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child, .cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first {
    padding-right: 5px
}

.cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child, .cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first {
    padding-left: 5px;
    padding-right: 0
}

.cke_hc div.cke_dialog_ui_input_file, .cke_hc div.cke_dialog_ui_input_password, .cke_hc div.cke_dialog_ui_input_select, .cke_hc div.cke_dialog_ui_input_text, .cke_hc div.cke_dialog_ui_input_textarea {
    border: 1px solid
}

.cke_dialog_ui_text {
    margin-bottom: 7px
}

.cke_dialog_ui_select {
    height: auto !important;
    margin-bottom: 7px
}

textarea.cke_dialog_ui_input_textarea {
    overflow: auto;
    resize: none
}

a.cke_dialog_ui_button {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 3px 0;
    margin: 0;
    text-align: center;
    color: #333;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff
}

a.cke_dialog_ui_button:active, a.cke_dialog_ui_button:focus, a.cke_dialog_ui_button:hover {
    border-color: #aaa;
    background-color: #eee;
    text-decoration: none
}

.cke_dialog_page_contents a.cke_dialog_ui_button {
    height: 22px;
    line-height: 22px;
    background-color: #f4f4f4
}

.cke_dialog_page_contents a.cke_dialog_ui_button:active, .cke_dialog_page_contents a.cke_dialog_ui_button:focus, .cke_dialog_page_contents a.cke_dialog_ui_button:hover {
    background-color: #eee
}

span.cke_dialog_ui_button {
    padding: 0 12px
}

.cke_hc a.cke_dialog_ui_button:active, .cke_hc a.cke_dialog_ui_button:focus, .cke_hc a.cke_dialog_ui_button:hover {
    border: 3px solid;
    padding-top: 1px;
    padding-bottom: 1px
}

.cke_hc a.cke_dialog_ui_button:active span, .cke_hc a.cke_dialog_ui_button:focus span, .cke_hc a.cke_dialog_ui_button:hover span {
    padding-left: 10px;
    padding-right: 10px
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button span {
    color: inherit;
    font-size: 12px;
    line-height: 20px
}

a.cke_dialog_ui_button_ok {
    color: #fff;
    border-color: #2274c9;
    background: #3f8edf
}

a.cke_dialog_ui_button_ok:active, a.cke_dialog_ui_button_ok:focus, a.cke_dialog_ui_button_ok:hover {
    border-color: #1e68b4;
    background: #2981db
}

a.cke_dialog_ui_button_cancel {
    background-color: #fff
}

a.cke_dialog_ui_button_cancel:focus {
    outline: 0
}

span.cke_dialog_ui_button {
    cursor: pointer
}

.cke_dialog_footer_buttons {
    display: inline-table;
    margin: 10px;
    width: auto;
    position: relative;
    vertical-align: middle
}

div.cke_dialog_ui_input_select {
    display: table
}

select.cke_dialog_ui_input_select {
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    padding: 4px 10px;
    border: 1px solid #ddd;
    outline: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.cke_dialog_ui_input_file {
    width: 100%;
    height: 30px
}

.cke_hc .cke_dialog_ui_labeled_content input:focus, .cke_hc .cke_dialog_ui_labeled_content select:focus, .cke_hc .cke_dialog_ui_labeled_content textarea:focus {
    outline: 1px dotted
}

.cke_dialog .cke_dark_background, .cke_dialog .cke_light_background {
    background-color: #eee
}

.cke_dialog .cke_centered {
    text-align: center
}

.cke_dialog a.cke_btn_reset {
    float: right;
    background: url(images/refresh.png) top left no-repeat;
    width: 16px;
    height: 16px;
    border: 1px none;
    font-size: 1px
}

.cke_dialog a.cke_btn_locked, .cke_dialog a.cke_btn_unlocked {
    float: left;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    border: none 1px;
    font-size: 1px
}

.cke_dialog a.cke_btn_locked {
    background-image: url(images/lock.png)
}

.cke_dialog a.cke_btn_locked .cke_icon {
    display: none
}

.cke_dialog a.cke_btn_unlocked {
    background-image: url(images/lock-open.png)
}

.cke_dialog .cke_btn_over {
    border: outset 1px;
    cursor: pointer
}

.cke_hidpi .cke_dialog a.cke_btn_reset {
    background-size: 16px;
    background-image: url(images/hidpi/refresh.png)
}

.cke_hidpi .cke_dialog a.cke_btn_locked, .cke_hidpi .cke_dialog a.cke_btn_unlocked {
    background-size: 16px
}

.cke_hidpi .cke_dialog a.cke_btn_locked {
    background-image: url(images/hidpi/lock.png)
}

.cke_hidpi .cke_dialog a.cke_btn_unlocked {
    background-image: url(images/hidpi/lock-open.png)
}

.cke_rtl .cke_dialog a.cke_btn_reset {
    float: left
}

.cke_rtl .cke_dialog a.cke_btn_locked, .cke_rtl .cke_dialog a.cke_btn_unlocked {
    float: right
}

.cke_dialog .FlashPreviewBox, .cke_dialog .ImagePreviewBox {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 6px 10px;
    margin-top: 5px;
    background-color: #fff
}

.cke_dialog .ImagePreviewBox {
    overflow: scroll;
    height: 205px;
    width: 300px
}

.cke_dialog .ImagePreviewBox table td {
    white-space: normal
}

.cke_dialog .FlashPreviewBox {
    white-space: normal;
    overflow: auto;
    height: 160px;
    width: 390px
}

.cke_dialog .ImagePreviewLoader {
    position: absolute;
    white-space: normal;
    overflow: hidden;
    height: 160px;
    width: 230px;
    margin: 2px;
    padding: 2px;
    opacity: .9;
    filter: alpha(opacity=90);
    background-color: #e4e4e4
}

.cke_dialog .cke_pastetext {
    width: 346px;
    height: 170px
}

.cke_dialog .cke_pastetext textarea {
    width: 340px;
    height: 170px;
    resize: none
}

.cke_dialog iframe.cke_pasteframe {
    width: 346px;
    height: 130px;
    background-color: #fff;
    border: 1px solid #aeb3b9;
    border-radius: 4px
}

.cke_dialog .cke_hand {
    cursor: pointer
}

.cke_disabled {
    color: #a0a0a0
}

.cke_dialog_body .cke_label {
    display: none
}

.cke_dialog_body label {
    display: inline-block;
    margin-bottom: 3px;
    cursor: default
}

.cke_dialog_body label.cke_required {
    font-weight: 700
}

.cke_dialog_ui_html {
    line-height: 150%
}

a.cke_smile {
    overflow: hidden;
    display: block;
    text-align: center;
    padding: .3em 0
}

a.cke_smile img {
    vertical-align: middle
}

a.cke_specialchar {
    cursor: inherit;
    display: block;
    height: 1.25em;
    padding: .2em .3em;
    text-align: center
}

a.cke_smile, a.cke_specialchar {
    background-color: #eee;
    border: 1px solid transparent;
    vertical-align: top
}

a.cke_smile:active, a.cke_smile:focus, a.cke_smile:hover, a.cke_specialchar:active, a.cke_specialchar:focus, a.cke_specialchar:hover {
    background: #fff;
    outline: 0
}

a.cke_smile:hover, a.cke_specialchar:hover {
    border-color: #aaa
}

a.cke_smile:active, a.cke_smile:focus, a.cke_specialchar:active, a.cke_specialchar:focus {
    border-color: #428bca
}

.cke_dialog_contents a.colorChooser {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    width: 80px
}

.cke_rtl .cke_dialog_contents a.colorChooser {
    margin-right: 10px
}

.cke_dialog_ui_checkbox {
    display: inline-block;
    margin-bottom: 5px
}

.cke_btn_over, .cke_dialog_ui_checkbox_input:focus, .cke_dialog_ui_radio_input:focus {
    outline: 1px dotted #696969
}

.cke_iframe_shim {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%
}