body {
    background: #FFFFFF;
}
html,body {
/*
overflow-y:auto!important;
    overflow-x:hidden;
    */
    overflow:hidden;
}

.action {
    float:right;
}
.btn {
    background:#38bdc7;
    color:#FFFFFF;
    text-transform: uppercase;
    font-size:16px;
    line-height:33px;
    padding:0px;
    width: 100%;
}
.form {
    padding:35px 30px;
    background: #FFFFFF;
}

.player {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

}

.player iframe,
.player object,
.player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-body .row {
    margin-top:18px;
}
.form-body label {
    text-transform: uppercase;
    line-height: 2.3;
}
.form-body .form-control {
    border: 1px solid #363737;
}
.formThankYou ,.formTerm{
    max-width:438px;
    margin:auto;
}
.formThankYou img {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .btn {
        margin-top: 20px;
    }
}

.popup-text {
    font-size: 20px;
    color: #2a2929;
    padding: 10px 0 0 30px;
}
.popup-text .note {
    font-size: 12px;
}
.video_detail {
    padding: 10px 0 0 0;
}
.detail-video {
    padding: 0;
}
.open-popup {
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .detail-video {
        padding: 0 0 0 10px;
    }
    .formThankYou img {
        height:208px;
    }
}