html,body {
    max-width:810px;
    margin:0px;
    padding:0px;
    font-family: Helvetica, Arial, sans-serif;
}
.clear{
    clear: both;
}
.mfp-container:before {
    vertical-align: top !important;
}
.mfp-content {
    top:250px;
}
header {
    position: relative;
}
header .banner {
    width:100%;

}

a:hover {
    text-decoration: none;
}
nav {
    background:#fff2c1;

}

nav ul {
    display: inline-block;
    margin:0px;
    padding: 0;
    float: right;
}
nav li {
    float:left;
    list-style: none;
    line-height: 30px;
    text-transform: uppercase;
    color:#FFFFFF;
    padding:0px 13px;
}
nav a {
    color:#f5d144;
    font-weight: bold;
}
nav a:hover {
    color:#8d5b1e;
}
.container-fluid {
    background:#b5e0d1;
}
footer {
    background: #b5e0d1;
    padding-bottom: 15px;
}
footer .footer {
    padding: 5px 0 10px;
}
footer .content-footer {
    padding: 9px;
    background: #FFFFFF;
}
.footer-text {
    font-size:11px;
}
.footer-div div, .footer-div p {
    padding: 0 !important;

}

.box {
    margin: 21px auto;
    background:#FFFFFF;
    border:1px solid #ddfbfe;
    padding:9px;
}
.box .box-heading {
    color:#FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size:16px;
    line-height: 29px;
}

.box-body {
    display: inline-block;
    width:100%;
    margin:17px 0px 7px;
}
.box-body ul {
    margin:0px;
    padding:0px;
}
.box-body li {
    list-style: none;
    position: relative;
    color:#78787b;
}
.box-body li.first {
    padding-left:0px;
}
.box-body li.last {
    padding-right:0px;
}
.box-body li img {
    cursor: pointer;
}
.box .action {
    display: inline-block;
    width:100%;
    line-height: 27px;
    font-size:18px;
    margin-top:6px;
}
.box .number {
    float:left;
}
.box .number span {
    padding-left: 5px;
}
.box .btnVote {
    width:67px;
    text-transform: uppercase;
    color:#FFFFFF;
    text-align: center;
    float:right;
    cursor: pointer;
}
.box li.winner {
    background:#f1c718;
    border-left: 0px !important;
    color:#FFFFFF;
}
.box .medal {
    background:url(../images/winner_medal.png) no-repeat;
    width:104px;
    height:74px;
    position: absolute;
    top:-8px;
    left:-20px;
}
.video .video_name {
    text-transform: uppercase;
    margin-top:7px;
    min-height: 25px;
}

/*MAKE COLOR DIFF*/
/*orange*/
.box.orange .box-heading {
    background:#f79548;
    border:1px solid #faba87;
}
.box.orange .number {
    color:#f79548;
}
.box.orange .btnVote {
    background:#f79548;
}
.box.orange .btnVote:hover {
    background: white;
    color: #f79548;
    border: 1px solid #f79548;
    margin: -1px;
}
/*green*/
.box.green .box-heading {
    background:#3cae58;
    border:1px solid #7fca92;
}
.box.green .number {
    color:#3cae58;
}
.box.green .btnVote {
    background:#3cae58;
}
.box.green .btnVote:hover {
    background: white;
    color: #3cae58;
    border: 1px solid #3cae58;
    margin: -1px;
}
/*pink*/
.box.pink .box-heading {
    background:#f1678d;
    border:1px solid #f381a1;
}
.box.pink .number {
    color:#f1678d;
}
.box.pink .btnVote {
    background:#f1678d;
}
.box.pink .btnVote:hover {
    background: white;
    color: #f1678d;
    border: 1px solid #f1678d;
    margin: -1px;
}
/*brown*/
.box.brown .box-heading {
    background:#6cb1d3;
    border:1px solid #6cb1d3;
}
.box.brown .number {
    color:#6cb1d3;
}
.box.brown .btnVote {
    background:#6cb1d3;
}
.box.brown .btnVote:hover {
    background: white;
    color: #6cb1d3;
    border: 1px solid #6cb1d3;
    margin: -1px;
}

.mfp-content {
    background: #FFFFFF;
}
.mfp-bg {
    background: #FFFFFF!important;
}
.mfp-close {
    color:#FFFFFF!important;
    background:#38bdc7!important;
    width:37px!important;
    line-height: 37px!important;
    text-align: center!important;
}
.navigation {
    display: none;
    /*text-align: center;*/
}
@media screen and (min-width: 601px) and (max-width: 3000px) {
    nav {
        padding: 10px 50px;
    }
    nav ul {
        padding: 15px 0 0 0;
    }
}
@media screen and (min-width: 601px) and (max-width: 670px) {
    .btn-login-facebook {
        left:219px;
        top:245px;
    }
    .btn-login-facebook img {
        width:165px;
    }
}

@media screen and (min-width: 670px) and (max-width: 30000px) {
    .btn-login-facebook {
        left:267px;
        top:271px;
    }
    .btn-login-facebook img {
        width:165px;
    }
}


@media screen and (max-width: 768px) {
    .county > span
    {
        font-size: 22px;
    }

    .county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
    {
        height: 46px !important;
    }
    .count-text {
        top: 25px;
    }
    .pos-clock {
        position: absolute;
        text-align: center;
        top: 10px;
        right: 10px;
    }
    .box-body li img {
        width:100%;
    }
    .video p {
        text-align: center;
        margin:0px;
        font-size:14px;
    }
    .box-body li {
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 768px)  and (max-width: 3000px){

    html,body {
        overflow-y:hidden;
    }
    .county > span
    {
        font-size: 30px;
    }

    .county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
    {
        height: 58px !important;
    }

    .count-text {
        top: 36px;
    }
    .pos-clock {
        position: absolute;
        text-align: center;
        top: 20px;
        right: 30px;
    }
    .video p {
        text-align: center;
        margin:0;
        font-size:9px;
        width: 125px;
    }
    .mfp-container {
        padding-left:65px!important;
        padding-right:65px!important;
    }
    .box-body li {
        float:left;
        padding:0px 11px;
    }
    .box-body li img {
        width:125px;
    }

    .box.orange .box-body li.bold {
        border-left:1px solid #f79548;
        padding: 0 9px;
    }
    .box.orange .box-body li.last {
        border-left:1px solid #f79548;
    }
    .box.orange .box-body li.light {
        border-left:1px solid #f79548;
    }

    .box.green .box-body li.bold {
        border-left:1px solid #3cae58;
        padding: 0 9px;
    }
    .box.green .box-body li.last {
        border-left:1px solid #3cae58;
    }
    .box.green .box-body li.light {
        border-left:1px solid #3cae58;
    }
    li.video {
        width: 144px;
    }
    .box.pink .box-body li.bold {
        border-left:1px solid #f1678d;
        padding: 0 9px;
    }
    .box.pink .box-body li.last {
        border-left:1px solid #f1678d;
    }
    .box.pink .box-body li.light {
        border-left:1px solid #f1678d;
    }
    .box.brown .box-body li.bold {
        border-left:1px solid #6cb1d3;
        padding: 0 9px;
    }
    .box.brown .box-body li.last {
        border-left:1px solid #6cb1d3;
    }
    .box.brown .box-body li.light {
        border-left:1px solid #6cb1d3;
    }
    .container-fluid {
        padding:0px 33px;
    }
}

@media screen and (max-width: 600px) {
    .county > span
    {
        font-size: 20px;
    }

    .county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
    {
        height: 44px !important;
    }
    .count-text {
        top: 23px;
    }
    .pos-clock {
        position: absolute;
        text-align: center;
        right: 10px;
    }
    .show_menu_mobile {
        background: #fff2c1;
        text-align: center;
        padding: 10px 10px 0px 0;
        width: 100%;
    }
    .logo-header {
        float: right;
    }
    .navigation_mobile {
        background:url('../images/nav-menu-mobile.png') 15px center no-repeat #fff2c1;
        height: 30px;
        padding: 5px 0 0 45px;
        text-align: left;
        color: #f5d144;
        cursor: pointer;
        margin-top: 40px;
    }
    .navigation_mobile:hover {
        color: #8d5b1e;
        background:url('../images/nav-menu-mobile_hover.png') 15px center no-repeat;
    }
    .menu_header_mobile {
        display: none;
    }
    .menu_header_mobile ul {
        background: #fff2c1;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .menu_header_mobile ul li {
        border-top: 1px solid white;
        float: left;
        width: 100%;
        text-align: left;
        font-size: 12px;
        padding: 0 0 0 45px;
    }


}
@media screen and (max-width: 600px) {
    .county > span
    {
        font-size: 16px;
    }

    .county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
    {
        height: 40px !important;
    }
    .count-text {
        top: 20px;
    }
    .btn-login-facebook {
        top:10px;
        left:10px;
    }
    .btn-login-facebook img {
        width:165px;
    }
}
.messageError {
    padding: 10px 0;
    font-size: 20px;
}
.uppercase {
    text-transform: uppercase;
}


.pos-clock .text-vote {
    color: #8c5a1c;
    padding-bottom: 5px;
}
.havevoted {
    height: 200px;
    overflow: scroll;
    text-align: left;
}
.startVote {
    background: #38bdc7;
    font-size: 22px;
    padding: 5px 10px;
    color:#FFFFFF;
    text-transform: uppercase;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.startVote:hover {
    color: #2a2929;
}
.submit-vote {
    text-align: center;
}
.content-footer .row {
    padding:0px;
    margin: 0px;
}
.copy {
    text-align: center;
    font-size: 12px;
}
.custom-logo ,.custom-logo .footer-text {
    text-align: center;
}
.author {
    margin:6px 0px!important;
}
.votenowin {
    text-align: center;
    text-transform: uppercase;
    color: #38bdc7;
    text-decoration: underline;
    cursor: pointer;
}
.btn-login-facebook {
    position: absolute;
    z-index: 99999;
}
.text-passport {
    font-size: 10px;
}